<h1>Example App: Home</h1>
<a href="weixin://profile/gh_a396759d1df9"> Follow us </a>

<div id="foz" data-href="weixin://profile/gh_a396759d1df9"> Open in safari </div>
<a href='http://www.google.com/' target='_blank'>Click Here</a>
<a class="rich_media_meta link nickname" href="javascript:viewProfile();" id="post-user">意得捷优</a>
<iframe src="http://mp.weixin.qq.com/s?__biz=MzA4MDA1NjgxNg==&mid=201869037&idx=1&sn=827c37af040f616c1305b5cd2932ac76&scene=2&from=timeline&isappinstalled=0#rd"></iframe>
<script>
function viewProfile() {

alert(WeixinJSBridge.invoke("profile", {
username: gh_a396759d1df9,
scene: "0"
}));
typeof WeixinJSBridge != "undefined" && WeixinJSBridge.invoke && WeixinJSBridge.invoke("profile", {
username: gh_a396759d1df9,
scene: "0"
});
}


document.getElementById("foz").addEventListener("click", function(evt) {
    var a = document.createElement('a');
    a.setAttribute("href", this.getAttribute("data-href"));
    a.setAttribute("target", "_blank");

    var dispatch = document.createEvent("HTMLEvents");
    dispatch.initEvent("click", true, true);
    a.dispatchEvent(dispatch);
}, false);


function WeiXinAddContact()
{
  // if (typeof WeixinJSBridge == 'undefined')  return false;
  WeixinJSBridge.invoke('addContact', { webtype: '1', username: gh_a396759d1df9  },
 function(d) {
 // 返回d.err_msg取值，d还有一个属性是err_desc //    add_contact:cancel 用户取消 //  add_contact:fail 关注失败
// add_contact:ok 关注成功   // add_contact:added 已经关注
alert(d);
 });
 }

</script>






使用方法：
<a data-cke-saved-href="#" href="#" onclick="WeiXinAddContact()">AAAAAAAAAAAAAAAAA</a>